/* Child homepage navigation cards */

.homeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  text-transform: capitalize;
  margin-top: 20px;
}

/* Sidebar positioning */

.sidebar {
  float: left;
}

/* Styling for login and signup pages */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

main h1 {
  text-transform: capitalize;
  padding-top: 0;
}

main form {
  width: 40vw;
}

/* Header Logo Styling */

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.logo img {
  width: 100px;
}

/* Sidebar buttons */

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
  width: 150px; 
}

.dropDown {
  text-transform: capitalize;
}

.headerNav {
  border-radius: 10px;
  text-transform: capitalize;
}

/* Homepage features grid */

.welcomeFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.welcome {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Homepage icons */

.img img{
  width: 100px;
}

/* Prompt to log in or signup, displayed if user is not logged in */

.prompt {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
  width: 350px;
}

/* Container for feeds, naps and changes pages */

.columnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

/* Styling for details tables */

.details {
  text-transform: capitalize;
  margin-top: 10px;
}

/* Add New Forms Styling */

.addNew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addNew form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.addNew input {
  width: 300px
}

/* Footer Styling */

.footer {
  padding-top: 100px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}

.footerCell img {
  width: 50px;
}