.homeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    gap: 20px;
  align-items: center;
  padding-top: 20px;
}

.sidebar {
  
  float: left;
}



.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

  .contentContainer form {
    width: 40vw;
    
    }

.footer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}