/* Most styling done using Bootstrap for react */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

/* Child homepage navigation cards */

.homeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  margin-top: 20px;
  padding-right: 20px;
}

/* Sidebar positioning */

.sidebar {
  float: left;
}

/* Styling for login and signup pages */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  color: #141823 ; 
}

main h1 {
  text-transform: capitalize;
  padding-top: 0;
}

main form {
  width: 40vw;
}

/* Header Logo Styling */

.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 32px;
  background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgb(254, 176, 187) 100%);
  width: 20rem;
  height: 10rem;
  border-radius: 10rem 10rem 0 0;
  filter: drop-shadow(1px 5px 10px #000);
  color: #e77a89;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.logo img {
  width: 100px;
}

/* Sidebar buttons */

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
  width: 150px; 
  padding-top: 20px;
}

.dropDown {
  text-transform: capitalize;
}

.headerNav {
  border-radius: 30px 0 30px 0;
  text-transform: capitalize;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Homepage features grid */

.welcomeFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.welcome {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  padding: 10px;
  height: 250px;
  border-radius: 10px;
}

/* Homepage icons */

.img img{
  width: 100px;
  padding-bottom: 10px;
}

/* Prompt to log in or signup, displayed if user is not logged in */

.prompt {
  padding-top: 50px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  width: 350px;
}

/* Container for feeds, naps and changes pages */

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content:  center ;
  width: 100%;
  gap: 50px;
}

.columnContainer h1 {
  text-align: center;
}

/* Styling for details tables */

.details {
  text-transform: capitalize;
  margin-top: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 99%;
}

.childImageCtn {
  display: flex;
  justify-content: center;
}

.childImage {
  width: 238px;
  height: 134px;
  object-fit: cover;
  
}

.childImageLrg {
  width: 476px;
  height: 268px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;

}

/* Add New Forms Styling */

.addNew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addNew form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.addNew input {
  width: 300px
}

/* Footer Styling */

.footer {
  padding-top: 150px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  align-items: center;
  color: white;
}

.footerCell img {
  width: 50px;
}

.footerCell {
  text-align: center;
  width: 200px;
}

.footerCell a {
  text-decoration: none;
  color: #DE7886;
}

nav {
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
}

/* Invite Section Styling */

.inviteButtons {
  text-transform: capitalize;
}

.inviteButtons Button {
 margin: 10px;
}

/* Buttons Styling */

.btn{
  background-color: #e77a89;
  border: none;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}



.btn:hover {
  background-color: #141823;
}

.btnOther {
  background-color: black;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnOther:hover {
  background-color: #e77a89;
}

.btnDelete {
  background-color: rgb(255, 20, 20);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Stats on Feeds, Changes and Sleeps */

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20px;
}

.stat {
  border: #000;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  width: 30%;
  padding: 10px;
  
  text-align: center;
  font-size: 2rem;
}

.stat{
  font-size: 2rem;
}



/* Condtional styling for sleeps range */

.inRange {
  background-color: green;
  border: #000;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  width: 30%;
  padding: 20px;
  color: greenyellow;
}

.outRange {
  background-color: red;
  border: #000;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  width: 30%;
  padding: 20px;
  color: rgb(255, 255, 255);
}