

.homeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    gap: 20px;
  align-items: center;
  
}

.details {
  text-transform: capitalize;
}

.sidebar {
  float: left;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px;
 
}

main h1 {
  text-transform: capitalize;
  padding-top: 0;
}

main form {
    width: 40vw;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  }



.footerCell img {
  width: 50px;
  
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.logo img {
  width: 100px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
  width: 150px;
  
  
}

.dropDown {
  text-transform: capitalize;
}

.headerNav {
  border-radius: 10px;
  background-color: #FEEAFA;
}

.welcomeFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  

}

.welcome {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  
}

.img img{
  width: 100px;
}

.prompt {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  margin-bottom: 100px;
  width: 350px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;

}

.col1 {
width: 100%;
}

.col2 {
  
}

.col2 form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.col2 input {
  width: 200px
}